h1, h2, h3, h4, p, .submitButton, form {
    font-family: "Finlandica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
    h1, h2 {
        text-align: center;}
    body { margin: 0; padding: 0; }
    #map { 
        position: relative; 
        height: 650px;
        width: 100%; 
        }

    .calculation-box {
        height: 535px;
        width: 300px;
        position: absolute;
        top: 190px;
        left: 10px;
        background-color: rgb(245, 245, 231);
        padding: 10px;
        text-align: left;
        border-radius: 10px;
    }
    p {
        margin: 0;
    }

    #button-div {
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .submitButton {
        padding: 10px 70px 10px 70px;
        background-color: black;
        color:white;
    }

    .submitButton:hover {
        background-color: #fdfdfd;
        color: black;
    }

    #coord-box, #button-div {
        display: none;
    }

    table, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }

    th {
        background-color: black;
        color: white;
        padding: 5px;
    }

    th + th {
        border-left: 1px solid white;
    }